@font-face {
    font-family: "Inter-Black";
    src: url(../src/fonts/Inter/Inter-Black.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../src/fonts/Inter/Inter-Regular.ttf);
}

:root {
    --text-blue: #4EA8DE;
    --text-white: #F2F2F2;
    --text-purple: #8284FA;
    --text-gray: #808080;
    --background-black: #0D0D0D;
    --background-blue: #1E6F9F;
    --background-dark-gray: #1A1A1A;
    --background-light-gray: #333333;
    --background-gray: #262626;
}

body {
    margin: 0 auto;

    background-color: var(--background-dark-gray);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    
    background-color: var(--background-black);
}

.headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    height: 48px;
}

.headerTitle img {
    width: 22px;
    height: 36px;
}

h1 {
    font-family: Inter-Black;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--text-blue);

    margin: 0px 0px 0px 12px;
}

p {
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.createTaskForm {
    display: flex;
    justify-content: space-between;

    position: relative;
    top: -27px;
    width: 736px;
    height: 54px;

    margin-bottom: 37px;
}

.createTaskForm input {
    width: 605px;

    border: 1px solid var(--background-black);
    border-radius: 8px;
    background-color: var(--background-gray);
    color: var(--text-gray);

    font-family: Inter-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;

    padding: 16px;
}

.createTaskForm button {
    width: 90px;

    border: none;
    border-radius: 8px;
    background-color: var(--background-blue);
    background-image: url(../src/images/plus.svg);
    background-repeat: no-repeat;
    background-position: 60px 20px;
    text-align: left;
    padding-left: 20px;
    color: var(--text-white);

    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.taskListForm {
    width: 736px;
    min-height: 287px;
}

.taskListFormCounters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskListCounter {
    display: flex;
    align-items: center;
}

.taskListCounter p {
    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    color: var(--text-blue);

    margin: 0px;
}

.taskListCounter div {
    background-color: var(--background-light-gray);
    color: var(--text-white);

    border-radius: 999px;

    margin-left: 10px;
    padding: 0px 10px;

    font-family: Inter-Regular;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}

.taskListFormList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 244px;

    border-top: 1px solid var(--background-light-gray);
    border-radius: 8px;

    margin-top: 24px;
}

.taskListFormList img {
    margin-top: 64px;
}

.taskListFormList p {
    font-family: Inter-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;

    color: var(--text-gray);
}

.taskListFormList p span {
    font-weight: 700px;
    font-family: Inter-Black;
}

.taskItem {
    display: flex;
    justify-content: space-between;

    width: 100%;

    border: 1px solid var(--background-light-gray);
    border-radius: 8px;

    margin-bottom: 12px;
}

.taskItem p {
    margin: 16px 0px;

    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.taskItem.finished p {
    text-decoration:line-through;
}

.taskItem .button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;

    margin: 16px 16px;
}

.taskItem.unfinished .button.finishTask {
    background-image: url(../src/images/check_off.svg);
}

.taskItem.finished .button.finishTask {
    background-image: url(../src/images/check_on.svg);
}

.taskItem .button.deleteTask {
    background-image: url(../src/images/trash.svg);
}