@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox']{
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

@font-face {
    font-family: "Inter-Black";
    src: url(../src/fonts/Inter/Inter-Black.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../src/fonts/Inter/Inter-Regular.ttf);
}

* {
   margin: 0;
   padding: 0; 
}

:root {
    --blue-dark: #1E6F9F;
    --blue: #4EA8DE;
    --purple: #8284FA;
    --purple-dark: #5E60CE;
    --gray-100: #F2F2F2;
    --gray-200: #D9D9D9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1A1A1A;
    --gray-700: #0D0D0D;
    --danger: #E25858;
}

body {
    margin: 0 auto;

    background-color: var(--gray-600);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    
    background-color: var(--gray-700);
}

.headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 48px;
}

.headerTitle img {
    width: 22px;
    height: 36px;
}

h1 {
    font-family: Inter-Black;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--blue);

    margin: 0px 0px 0px 12px;
}

h1 span {
    color: var(--purple-dark);
}

p {
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 0% 17%;
}

.createTaskForm {
    display: flex;
    justify-content: space-between;

    position: relative;
    top: -27px;
    width: 80%;
    height: 54px;

    margin-bottom: 37px;
}

.createTaskForm input {
    width: 90%;

    border: 1px solid var(--gray-700);
    border-radius: 8px;
    background-color: var(--gray-500);
    color: var(--gray-300);

    font-family: Inter-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;

    padding: 16px;
}

.createTaskForm input:focus {
    color: var(--gray-100);
    outline-style:groove;
    outline-color: var(--purple-dark);
    outline-width: 2px;
}

.createTaskForm button {
    width: 90px;

    border: none;
    border-radius: 8px;
    background-color: var(--blue-dark);
    background-image: url(../src/images/plus.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    text-align: left;
    
    color: var(--gray-100);

    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    padding-left: 1.5%;
    margin-left: 1%;

    cursor: pointer;
    transition: 0.3s;
}

.createTaskForm button:hover {
    background-color: var(--blue);
}

.taskListForm {
    width: 80%;
    min-height: 287px;
}

.taskListFormCounters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskListCounter {
    display: flex;
    align-items: center;
}

.taskListCounter p {
    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    color: var(--blue);

    margin: 0px;
}

.taskListCounter div {
    background-color: var(--gray-400);
    color: var(--gray-100);

    border-radius: 999px;

    margin-left: 10px;
    padding: 0px 10px;

    font-family: Inter-Regular;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}

#taskListFormList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 244px;

    margin-top: 24px;
}

#taskListFormListEmpty {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;

    margin-top: 24px;
}

#taskListFormListEmpty img {
    margin-top: 64px;
}

#taskListFormListEmpty p {
    font-family: Inter-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;

    color: var(--gray-300);
}

#taskListFormListEmpty p span {
    font-weight: 700;
    font-family: Inter-Black;
}

#taskItemPattern {
    display: none;
}

.taskItem {
    display: flex;
    
    align-items: flex-start;

    width: 100%;

    border: 1px solid var(--gray-400);
    border-radius: 8px;

    margin-bottom: 12px;
    padding: 16px 0px;
}

.taskItem input{
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid var(--blue);
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 19px;
    margin-right: 16px;
    cursor: pointer;
}

.taskItem input:checked {
    position: relative;
    width: 18px;
    height: 17px;
    background-color: var(--purple-dark);
    border: none;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 19px;
    margin-right: 16px;
    cursor: pointer;
}

.taskItem input:checked + label {
    text-decoration: line-through;
    color: var(--gray-300);
}

.taskItem input:checked::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    left: 20%;
    top: 30%;
    background-image: url(../src/images/check.svg);
    background-repeat: no-repeat;
}

.taskItem label {
    word-wrap: break-word;

    width: 85%;
    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--gray-100);
}

.buttonDeleteTask {
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;

    margin-right: 10px;
    margin-left: 20px;
    
    cursor: pointer;
}

svg path {
    transition: 0.3s;
}

.buttonDeleteTask:hover svg path{
    fill: var(--danger);
}